 /* General Styles */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.username {
    background-color: #e3f2fd;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 5rem;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.hero-content .highlight {
    color: #007bff;
}

.hero-content p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    text-align: justify;
}

.hero-content .cta-button {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-image img {
    max-width: 100%;
    height: 45vh;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #000;
}

#menu-toggle {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

#menu-toggle:checked ~ .overlay {
    display: flex;
    transform: translateX(0);
}

.overlay a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin: 10px 0;
}

.overlay .close {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .hero {
        flex-direction: column;
        padding: 2rem 1.5rem;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-content h1 {
        font-size: 2.57rem;
    }

    .hero-content p {
        font-size: 1.57rem;
        text-align: justify;
    }

    .hero-content .cta-button {
        font-size: 1.4rem;
        padding: 1rem 3rem;
    }

    .hero-image img {
        margin-top: 2rem;
        height: auto;
    }
}